<div>
  <h2 id="page-heading" data-cy="MainTaskHeading">
    <span jhiTranslate="todoApp.mainTask.home.title">MainTasks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="todoApp.mainTask.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-main-task"
        [routerLink]="['/main-task/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="todoApp.mainTask.home.createLabel">Créer un nouveau Main Task</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="todoApp.mainTask.home.search">Recherche pour Main Task</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'todoApp.mainTask.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (mainTasks?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="todoApp.mainTask.home.notFound">Aucun Main Task trouvé</span>
    </div>
  }

  @if (mainTasks && mainTasks.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="todoApp.mainTask.description">Description</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="deadline">
              <div class="d-flex">
                <span jhiTranslate="todoApp.mainTask.deadline">Deadline</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creation">
              <div class="d-flex">
                <span jhiTranslate="todoApp.mainTask.creation">Creation</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cost">
              <div class="d-flex">
                <span jhiTranslate="todoApp.mainTask.cost">Cost</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status.id">
              <div class="d-flex">
                <span jhiTranslate="todoApp.mainTask.status">Status</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="category.id">
              <div class="d-flex">
                <span jhiTranslate="todoApp.mainTask.category">Category</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="personOwner.id">
              <div class="d-flex">
                <span jhiTranslate="todoApp.mainTask.personOwner">Person Owner</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (mainTask of mainTasks; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/main-task', mainTask.id, 'view']">{{ mainTask.id }}</a>
              </td>
              <td>{{ mainTask.description }}</td>
              <td>{{ mainTask.deadline | formatMediumDate }}</td>
              <td>{{ mainTask.creation | formatMediumDate }}</td>
              <td>{{ mainTask.cost }}</td>
              <td>
                @if (mainTask.status) {
                  <div>
                    <a [routerLink]="['/status', mainTask.status.id, 'view']">{{ mainTask.status.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (mainTask.category) {
                  <div>
                    <a [routerLink]="['/category', mainTask.category.id, 'view']">{{ mainTask.category.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (mainTask.personOwner) {
                  <div>
                    <a [routerLink]="['/person', mainTask.personOwner.id, 'view']">{{ mainTask.personOwner.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/main-task', mainTask.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/main-task', mainTask.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(mainTask)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
