@import 'bootstrap/scss/functions';
@import 'bootswatch/dist/sketchy/variables';
@import 'bootstrap/scss/variables';

/* SCSS RGB */
$light-blue: rgba(155, 196, 203, 1);
$blue: rgba(71, 141, 154, 1);
$grey: rgba(60, 71, 75, 1);
$red: rgba(188, 65, 43, 1);
$sunset: rgba(253, 214, 146, 1);
$white: rgba(246, 246, 246, 1);
$beige: rgba(240, 234, 210, 1);
/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $grey;
}
.navBarText {
  color: $grey;
}
span.navbar-version {
  color: $light-blue;
}
.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $dark;
  }

  a.nav-link {
    font-weight: 400;
    color: $grey;
  }

  .navbar-toggler {
    &:hover {
      color: $blue;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('/content/images/logoFiesta.png') no-repeat center center;
  background-size: contain;
}

/* ==========================================================================
App own scss - ebarbe
========================================================================== */

//dropdown menu
a.dropdown span.navBarText:hover,
span.navBarText:hover {
  color: $white;
}
a.dropdown-item.active,
span.navBarText.active {
  color: $white;
}

//main menu
a.nav-link span:hover {
  color: $blue;
}

//dropdown menu titles
span.dropdown-menu-title {
  font-weight: 400;
  color: $blue;
  font-size: 1.2rem;
  padding-left: 5px;
}
