@use 'content/scss/global';

/* SCSS RGB */
$light-blue: rgba(155, 196, 203, 1);
$blue: rgba(71, 141, 154, 1);
$grey: rgba(60, 71, 75, 1);
$red: rgba(188, 65, 43, 1);
$sunset: rgba(253, 214, 146, 1);
$white: rgba(246, 246, 246, 1);
$beige: rgba(240, 234, 210, 1);

/* ==========================================================================
page styles
========================================================================== */
input.authPage {
  width: 50%;
}
