<!-- -------------------------------------------------------------------------------------------- -->
<!------------------------------ A C C U E I L   /   C O N N E X I O N  ---------------------------->

<div *ngIf="!userConnectedHasAPersonLinked">
  <div class="row">
    <!--  colonne gauche-->
    <div class="col-md-2"></div>

    <!--  colonne image-->
    <div class="col-md-3">
      <span class="hipster img-fluid rounded"></span>
    </div>

    <!--  colonne principale-->
    <div class="col-md-5 centerText">
      <h1 class="display-4" jhiTranslate="homeapp.title">TODO LIST</h1>
      <h2 class="display-4" jhiTranslate="homeapp.subtitle">TODO LIST</h2>

      <div [ngSwitch]="account !== null">
        <!-- utilisateur connecté-->
        <div class="" *ngSwitchCase="true">
          <div class="separation"></div>
          <p id="home-logged-message" *ngIf="account">
            {{ account.login }}, vous n'avez pas encore crée de compte participant! Si vous voulez organiser ou participer à des évènements,
            c'est juste dessous !
          </p>
          <div class="separation"></div>
          <p class="count-link link-text">
            <a class="link-text" routerLink="/person/new" jhiTranslate="todoApp.person.home.createLabel">Créer un participant</a>
          </p>
        </div>

        <!--aucun utilisateur connecté-->
        <div class="" *ngSwitchCase="false">
          <!--<p><small>(Cliquer ici pour tester l'application en mode admin ou user)</small></p>-->
          <p class="count-link link-text connexion-link">
            <a class="" (click)="login()" jhiTranslate="homeapp.link.connexion">Se connecter</a>
          </p>
        </div>
        <br />
        <br />
        <div class="" *ngSwitchCase="false">
          <span jhiTranslate="global.messages.info.register.noaccount">Vous n'avez pas encore de compte ?</span>&nbsp;<br />
          <p class="count-link link-text">
            <a class="link-text" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Créer un compte</a>
          </p>
        </div>
      </div>
    </div>
    <!--    colonne droite-->
    <div class="col-md-2"></div>
  </div>
</div>
<!-- -------------------------------------------------------------------------------------------------- -->
<!------------------------------ A C C U E I L   /   e v e n t s    l i s t   ---------------------------->
<div *ngIf="userConnectedHasAPersonLinked">
  <h2 class="display-4">
    <span class="userName"><fa-icon icon="user"></fa-icon> {{ personConnected?.pseudo }} :</span>
    Evenements auxquels tu es inscrits <br />
    cette partie est en construction !
  </h2>
  <jhi-rel-event-person-listBy></jhi-rel-event-person-listBy>
</div>
