<div>
  <h2 id="page-heading" data-cy="RelEventPersonHeading">
    <span jhiTranslate="todoApp.relEventPerson.home.title">RelEventPeople</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="todoApp.relEventPerson.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-rel-event-person"
        [routerLink]="['/rel-event-person/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="todoApp.relEventPerson.home.createLabel">Créer un nouveau Rel Event Person</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="todoApp.relEventPerson.home.search"
          >Recherche pour Rel Event Person</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'todoApp.relEventPerson.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (relEventPeople?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="todoApp.relEventPerson.home.notFound">Aucun Rel Event Person trouvé</span>
    </div>
  }

  @if (relEventPeople && relEventPeople.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <!-- ID -->
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <!-- event -->
            <th scope="col" jhiSortBy="event_id">
              <div class="d-flex">
                <span jhiTranslate="global.field.event">évenement</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <!-- participant -->
            <th scope="col" jhiSortBy="participant_id">
              <div class="d-flex">
                <span jhiTranslate="global.field.person">participant</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <!-- participation -->
            <th scope="col" jhiSortBy="participation">
              <div class="d-flex">
                <span jhiTranslate="todoApp.relEventPerson.participation">Participation</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <!-- actions -->
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (relEventPerson of relEventPeople; track trackId) {
            <tr data-cy="entityTable">
              <!--  id -->
              <td>
                <a [routerLink]="['/rel-event-person', relEventPerson.id, 'view']">{{ relEventPerson.id }}</a>
              </td>
              <!-- event -->
              <td>
                @if (relEventPerson.event && relEventPerson.event.id) {
                  <span>
                    <a [routerLink]="['/event', relEventPerson.event.id, 'view']">{{ relEventPerson.event.label }}</a>
                  </span>
                }
              </td>
              <!-- participant -->
              <td>
                @if (relEventPerson.person) {
                  <span>
                    <a [routerLink]="['/person', relEventPerson.person.id, 'view']">{{ relEventPerson.person.pseudo }}</a>
                  </span>
                }
              </td>
              <!-- participation -->
              <td>{{ relEventPerson.participation }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/rel-event-person', relEventPerson.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/rel-event-person', relEventPerson.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(relEventPerson)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (relEventPeople && relEventPeople.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
