<div class="container">
  <div class="row">
    <div class="col-md-12" *ngIf="!relEventPeople || relEventPeople.length === 0">
      <p>Aucun événement disponible.</p>
    </div>
    <div class="col-md-6" *ngFor="let relEventPerson of relEventPeople">
      <div class="card">
        <div class="card-header">
          {{ relEventPerson.event?.eventType?.label }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ relEventPerson.event?.label }}</h5>
          <hr />

          <div class="row">
            <div class="col-md-6">
              <p><strong>Description:</strong> {{ relEventPerson.event?.description }}</p>
              <p><strong>Theme:</strong> {{ relEventPerson.event?.theme }}</p>
            </div>
            <div class="col-md-6">
              <p><strong>Place Details:</strong> {{ relEventPerson.event?.placeDetails }}</p>
              <p><strong>Date:</strong> {{ relEventPerson.event?.dateStart }} - {{ relEventPerson.event?.dateEnd }}</p>
            </div>
          </div>
          <hr />

          <p><strong>Note:</strong> {{ relEventPerson.event?.note }}</p>
          <hr />

          <div class="row">
            <div class="col-md-6">
              <p><strong>Place:</strong> {{ relEventPerson.event?.place?.toUpperCase() }}</p>
              <p><strong>Address:</strong> {{ relEventPerson.event?.adress }}</p>
            </div>
            <div class="col-md-6">
              <h6>Participants:</h6>
              <ul>
                <li *ngFor="let participant of relEventPerson.people">
                  {{ participant.pseudo }} - {{ participant.user?.firstName }} {{ participant.user?.lastName }} (hyerarchie) -
                  {{ relEventPerson.participation }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
