<div class="container">
  <div class="row">
    <!--------------------------
    NO EVENT
    -------------------------------->
    <div class="col-md-12" *ngIf="!relEventPersonList || relEventPersonList.length === 0">
      <p>Aucun événement disponible.</p>
    </div>
    <!--------------------------
    BOUTON
    -------------------------------->
    <div>
      <!--créer un évenement-->
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-event"
        [routerLink]="['/event/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="todoApp.event.home.createLabel">Créer un nouveau Event</span>
      </button>

      <!-- participer à un évenement-->
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-rel-event-person"
        [routerLink]="['/rel-event-person/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="todoApp.relEventPerson.home.createLabel">Participer à un évenement</span>
      </button>
    </div>

    <!--------------------------
  EVENTS LIST
   -------------------------------->

    <div class="col-md-6" *ngFor="let relEventPerson of relEventPersonList">
      <div class="card">
        <!-- EVENT TYPE -->
        <div class="card-header relative">
          {{
            relEventPerson.event?.eventType?.label ? relEventPerson.event?.eventType?.label : 'Evènement indépendant ( ou définir un type)'
          }}

          <span class="rightAlign">
            | <span class="marginLeft">{{ relEventPerson.id }}</span>
          </span>
        </div>
        <!-- EVENT TITLE -->
        <div class="space-title">
          <h5 class="card-title higherX2">
            <a class="noACss" [routerLink]="['/event', relEventPerson.event?.id, 'edit']">{{ relEventPerson.event?.label }}</a>
          </h5>
        </div>

        <div class="card-body">
          <!--DESCRIPTION / THEME / LIEU ET DATES -->
          <div class="row">
            <!--<div class="col-md-6">-->
            <p><strong>Description:</strong> {{ relEventPerson.event?.description }}</p>
            <p><strong>Theme:</strong> {{ relEventPerson.event?.theme }}</p>
            <!-- </div>
            <div class="vertical-line col-md-6">-->
            <p><strong>Lieu:</strong> {{ relEventPerson.event?.placeDetails }}</p>
            <p>
              <strong>Date(s):</strong> du {{ relEventPerson.event?.dateStart | formatMediumDate }} au {{ relEventPerson.event?.dateEnd }}
            </p>
            <!--  </div>-->
          </div>
          <hr />

          <!--NOTE -->
          <div class="card-note">
            <h6>Note:</h6>
            <p>{{ relEventPerson.event?.note }}</p>
          </div>
          <hr />

          <!--LIEU-->
          <div class="row">
            <h6>Lieu</h6>
            <p>{{ relEventPerson.event?.place?.toUpperCase() }} ( - {{ relEventPerson.event?.adress }} -)</p>
          </div>
          <hr />

          <!--PARTICIPATION DU USER-->
          <div class="row">
            <h6>Ma participation:</h6>
            <p>{{ relEventPerson.participation }}</p>
          </div>
          <hr />

          <!-- PARTICIPANTS -->
          <div class="row">
            <h6>Participants / Invités</h6>
            <div class="card-list">
              <ul>
                <li *ngFor="let relEventpersonByEvent of relEventPerson?.relEventPersonLinkedByEvent">
                  <a class="noACss" [routerLink]="['/person', relEventpersonByEvent.person?.id, 'view']">
                    <strong>{{ relEventpersonByEvent.person?.pseudo }}</strong>
                  </a>
                  ( {{ relEventpersonByEvent.person?.user?.firstName }} {{ relEventpersonByEvent.person?.user?.lastName }}) (
                  {{ relEventpersonByEvent.hierarchy?.description }} )
                  <span class="grey"> | </span>
                  <span class="participation">{{ relEventpersonByEvent.participation }}</span>
                </li>
              </ul>
            </div>
          </div>

          <!--BOUTONS-->
          <div>
            <a [routerLink]="['/rel-event-person', relEventPerson.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
