@import 'bootstrap/scss/functions';
@import 'bootswatch/dist/sketchy/variables';
@import 'bootstrap/scss/variables';

/* SCSS RGB */
$light-blue: rgba(155, 196, 203, 1);
$blue: rgba(71, 141, 154, 1);
$grey: rgba(60, 71, 75, 1);
$grey-light: rgba(145, 145, 145, 1);
$red: rgba(188, 65, 43, 1);
$sunset: rgba(253, 214, 146, 1);
$white: rgba(246, 246, 246, 1);
$beige: rgba(240, 234, 210, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #9bc4cbff, #478d9aff, #3c474bff, #bc412bff, #fdd692ff);
$gradient-right: linear-gradient(90deg, #9bc4cbff, #478d9aff, #3c474bff, #bc412bff, #fdd692ff);
$gradient-bottom: linear-gradient(180deg, #9bc4cbff, #478d9aff, #3c474bff, #bc412bff, #fdd692ff);
$gradient-left: linear-gradient(270deg, #9bc4cbff, #478d9aff, #3c474bff, #bc412bff, #fdd692ff);
$gradient-top-right: linear-gradient(45deg, #9bc4cbff, #478d9aff, #3c474bff, #bc412bff, #fdd692ff);
$gradient-bottom-right: linear-gradient(135deg, #9bc4cbff, #478d9aff, #3c474bff, #bc412bff, #fdd692ff);
$gradient-top-left: linear-gradient(225deg, #9bc4cbff, #478d9aff, #3c474bff, #bc412bff, #fdd692ff);
$gradient-bottom-left: linear-gradient(315deg, #9bc4cbff, #478d9aff, #3c474bff, #bc412bff, #fdd692ff);
$gradient-radial: radial-gradient(#9bc4cbff, #478d9aff, #3c474bff, #bc412bff, #fdd692ff);

/* ==============================================================
Bootstrap tweaks
===============================================================*/

h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  font-size: 40px;
}
h2 {
  font-weight: 400;
  text-transform: capitalize;
  color: $beige;
  font-size: 25px;
}
h3,
h4 {
  font-weight: 300;
  color: $white;
  font-size: 20px;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 5%;
  margin-top: 20px;
  border: none;
  background-color: inherit;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.form-control {
  background-color: #fff;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid $grey-light;
  opacity: 0.5;
  margin-top: 50px;
  padding-top: 30px;
}

.separation {
  border-top: 1px solid $grey-light;
  opacity: 0.5;
  margin-top: 50px;
  padding-top: 30px;
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity list page css
========================================================================== */

.table-entities thead th .d-flex > * {
  margin: auto 0;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: auto;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  padding-left: 0px;
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbar.component.scss */
.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
}
/* jhipster-needle-scss-add-main JHipster will add new css style */

/* ==========================================================================
     ********  project own scss   *******
========================================================================== */

/* ==========================================================================
LAYOUT
========================================================================== */

body {
  background-color: $grey;
}

.ribbon {
  display: none;
}

.container-info {
  //margin:20px;
  padding: 20px;
  font-size: 90%;
  opacity: 0.8;
  letter-spacing: 2px;
}

.element-center {
  text-align: center;
  margin: auto;
}

.separator {
  margin-top: 50px;
  border-top: 1px solid $white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin-bottom: 25px;
  margin-top: 25px;
}

.space {
  height: 20px;
}
/* ==========================================================================
TEXT
========================================================================== */

p,
label,
body {
  color: $white;
  font-size: 14px;
  font-weight: normal;
}

small {
  color: $beige;
  font-size: 12px;
  font-weight: lighter;
}

span {
  color: $white;
  font-size: 16px;
}
span.mediumtext {
  color: $white;
  font-size: 14px;
  font-weight: normal;
}
span.smallText {
  color: $beige;
  font-size: 12px;
  font-weight: normal;
}
a,
a.link {
  color: $light-blue;
}

a.noACss {
  color: inherit;
  text-decoration: none;
}

.row-md.jh-entity-details dd {
  color: $light-blue;
  font-weight: 600;
  font-size: 1.2rem;
}

//pages number
jhi-item-count {
  color: $white;
}

#home-logged-message {
  font-size: 1.1rem;
  color: $blue;
}

.lightBlue {
  color: $light-blue;
}

.blue {
  color: $blue;
}

.white {
  color: $white;
}

.red {
  color: $red;
}

.grey {
  color: $grey;
}
.higher {
  font-size: 1.2rem;
}

.higherX2 {
  font-size: 2rem;
}

.inheritSize {
  font-size: 1rem !important;
}

.spaced {
  letter-spacing: 1.5px;
}

.bolder {
  font-weight: bold;
}

.addColon::after {
  content: ' : ';
}

.addRightSpace {
  margin-right: 10px;
}

.entityTitle {
  font-size: 3rem;
}

span.userName {
  color: rgba(155, 196, 203, 1);
  font-size: 2rem;
}

.mode-test-info {
  margin-top: 20px;
  background-color: $light-blue;
  color: $grey;
  padding: 10px;
  border-radius: 10px;
}
.mode-test-info p {
  margin-bottom: 5px;
}
.mode-test-info span {
  color: $grey;
  border-bottom: 1px solid $grey;
}

.mode-test-info-title {
  margin-bottom: 15px;
}

.relative {
  position: relative;
}
.relativeInput {
  position: relative;
  padding-bottom: 20px;
}
.rightAlign {
  position: absolute;
  top: 3px;
  right: 10px;
  margin-right: 10px;
  margin-top: 3px;
}

.rightAlignUnderInput {
  position: absolute;
  top: 60px;
  right: 10px;
  margin-right: 10px;
  margin-top: 3px;
}

.marginLeft {
  margin-left: 10px;
}

.textNoMargin {
  margin-bottom: 0;
}
/* ==========================================================================
MESSAGES & ALERTS
========================================================================== */
.alerts {
  background-color: inherit;
  border: none;

  ngb-alert,
  pre {
    color: $red;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: $beige;
  }

  ngb-alert {
    background-color: inherit;
    //max-width: 50%;
  }
  ngb-alert.alert.alert-success.show.fade.alert-dismissible {
    background-color: white;
    border-color: $beige;
  }

  fa-icon {
    color: $red;
    font-weight: bold;
    font-size: 1.2rem;
    padding-right: 5px;
  }

  .alert-container {
    display: flex;
    align-items: center;
    border-color: $red, 50%;
  }

  .alert-flex {
    display: flex;
    align-items: center;
  }
}

.alert-warning {
  background-color: inherit;
  border: none;

  span {
    color: $blue;
    font-weight: bold;
    font-size: 1.2rem;
  }

  fa-icon {
    color: $blue;
    font-weight: bold;
    font-size: 1.2rem;
    padding-right: 5px;
  }
}

//Popup
.modal-header h4 {
  color: $grey;
  font-size: 1.5rem;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

p#jhi-delete-hierarchy-heading {
  color: $blue;
  font-size: 1.2rem;
  padding-bottom: 0px;
}

/* ==========================================================================
FORMS
========================================================================== */

input {
  font-size: 22px;
}

[type='checkbox']::before {
  border-color: $white;
}
[type='checkbox']:checked::after {
  color: $white;
}

.readOnlyInput,
.form-control:disabled {
  background-color: $grey-light;
}

form.EditForm input,
form.EditForm textarea,
form.EditForm select {
  max-width: 400px;
}

//checkbox - REGISTER COMPONENT

.register-component [type='checkbox']::before {
  left: -25px;
  color: $light-blue;
}

.register-component [type='checkbox']:checked::after {
  content: 'x';
  left: -23px;
  top: -4px;
  font-size: 2rem;
  //opacity: 70%;
  color: $light-blue;
}

.register-component label.form-check-label {
  margin-right: 40px;
  color: $light-blue;
}

.register-component div#strength {
  margin-top: -20px;
}

/* ==========================================================================
TABLE
========================================================================== */

//table header
tr div.d-flex span,
blue-font,
span.blue-font {
  color: $blue;
}

th.borderLeftColumn,
td.borderLeftColumn {
  border-left: $grey 0.5px solid;
}

th.borderRightColumn,
td.borderRightColumn {
  border-right: $grey 0.5px solid;
}

th span {
  color: $grey;
}
/* ==========================================================================
     BUTTONS
========================================================================== */

button {
  font-size: 30px;
}

button.validationButton {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  color: $blue;
  text-align: center;
  background-color: $white;
  border-radius: 10px;
  border: 1px solid $light-blue;
  padding: 5px 15px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button.validationButton:hover {
  background-color: $blue;
  color: $white;
}
/* ==========================================================================
CARDS BODY
========================================================================== */
.card .card-header {
  background-color: $blue;
  color: $white;
}
.card .card-body {
  background-color: $light-blue;
}
.card .space-title {
  background-color: $white;
  padding: 10px 20px;
  color: $grey;
  font-size: 1.3rem;
}

.card strong {
  //text-decoration-line: underline;
  //text-decoration-style: wavy;
  //text-decoration-color: $white;
  font-size: 1rem;
  font-weight: normal;
}

.card p {
  font-size: 1.2rem;
  font-weight: bold;
}

.card .card-note p {
  color: $grey;
  decoration: none;
  @media (min-width: 750px) {
    min-height: 100px;
  }
}

.card .card-list {
  color: white;
}
.card .participation {
  color: $grey;
  font-style: italic;
}

.card .vertical-line {
  position: relative;
  @media (min-width: 750px) {
    .card .vertical-line::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-left: 1px solid $white;
    }
  }
}
